# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VS Code settings
.vscode/

# Virtual environments
/.venv

# Image files
/car_project/car_images/
/car_project/car_images/*

# Database files
/car_project/*.sqlite3
car_project/db.sqlite3
/car_project/db_JayPatkar/

/car_project_Backup - 7 July 2025/*