{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Auction-Ready Cars{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'multi-select/multi-select-styles.css' %}" rel="stylesheet" />
    
    
    <link href="https://cdn.datatables.net/2.3.0/css/dataTables.bootstrap5.css" rel="stylesheet" />
    

    <link href="{% static 'mysite.css' %}" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">

</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Auction-Ready Cars</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li><a href="{% url 'car_list' %}" class="nav-link active">Home</a></li>
                    <li>
                        <a target="_blank" href="{% url 'admin:index' %}" class="nav-link">Admin Panel</a>
                    </li>
                </ul>
    
                <!-- Show logout button if user is logged in -->
                {% if request.user.is_authenticated %}
                    <ul class="navbar-nav ms-auto">
                        <li>
                            <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a>
                        </li>
                    </ul>
                {% endif %}
                
            </div>
        </div>
    </nav>


    <!-- Main content -->
    <main class="container-fluid">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bootstrap JS and dependencies -->

    <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script> -->
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'multi-select/jquery.multi-select.min.js' %}"></script>
    <script src="{% static 'js/myscript.js' %}"></script>

    <!-- <script src="{% static 'js/myscript.js' %}"></script> -->
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.3.0/js/dataTables.bootstrap5.js"></script>
    


    {% block extra_js %}

    {% endblock %}
</body>

</html>