{% extends 'car_app/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="row align-items-start">

  <div class="col-8">

    <div class="card">

      <div class="card-header bg-info d-flex justify-content-between align-items-center">
        <h5 class="p-0 m-0"> All Car List </h5>
        <div class="d-flex align-items-center">
          <input id="searchbox" type="search" class="form-control form-control-sm" placeholder="Search..."
            aria-label="Search">
        </div>
      </div>

      <div class="card-body p-1">
        <form class="row g-3" method="get" id="filter-car-list">
          <div class="col-auto">
            <label for="filterby_brand" class="form-label">Select Brands</label>
            <select class="js-example-basic-single" name="carbrands" multiple="multiple" id="filterby_brand">

              {% for brand in brand_column %}
              <option value="{{brand}}" {% if brand in selected_brands %} selected {% endif %}>{{brand}}</option>
              {% endfor %}

            </select>
          </div>
          <div class="col-auto">
            <label for="filterby_model" class="form-label">Select Model</label>
            <select class="js-example-basic-single" name="carmodels" multiple="multiple" id="filterby_model">
              {% for model in model_column %}
              <option value="{{model}}" {% if model in selected_models %} selected {% endif %}>{{model}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-auto">
            <label for="filterby_fuel_type" class="form-label">Select Fuel Type</label>
            <select class="js-example-basic-single" name="carfueltypes" multiple="multiple" id="filterby_fuel_type">
              {% for fueltype in fuel_type_column %}
              <option value="{{fueltype}}" {% if fueltype in selected_fuel_types %} selected {% endif %}>{{fueltype}}
              </option>
              {% endfor %}
            </select>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm">Filter Data</button>
          </div>
          <div class="col-auto">
            <a href="{% url 'car_list' %}" class="btn btn-warning btn-sm">Clear Filter</a>

          </div>
        </form>


        <!-- Brand, Model, Fuel Type -->





      </div>





      <div class="card-body p-0"
        style="min-height:calc(100vh - 300px);max-height:calc(100vh - 300px);overflow-y: auto;">
        <table class="oc-table">
          <thead>
            <tr>
              <!-- <th>car_id</th> -->
              <!-- <th style="width: 10%;">Date</th>
              <th style="width: 50px;">Registrering</th>
              <th style="width: 50px;">Brand</th>
              <th style="width: 50px;">Model</th>
              <th style="width: 50px;">Fuel Type</th>
              <th style="width: 50px;">Horsepower</th>
              <th style="width: 50px;">Price</th> -->
              <th style="width: 20px;">Date</th>
              <th style="width: 1%;">Registrering</th>
              <th style="width: 1%;">Brand</th>
              <th style="width: 1%;">Model</th>
              <th style="width: 1%;">Horsepower</th>
              <th style="width: 1%;">Fuel Type</th>
              <th style="width: 1%;">Transimision</th>
              <th style="width: 1%;">Kilometer</th>
              <th style="width: 1%;">Engine size</th>
              <th style="width: 1%;">Number of doors</th>
              <th style="width: 0.5%;">Number of seats</th>
              <th style="width: 1%;">Karosseri</th>
              <th style="width: 1%;">Køretype</th>
              <th style="width: 1%;">Kosmetisk</th>
              <th style="width: 1%;">Mekanisk</th>
              <th style="width: 50%;">Kommentar</th>
              <th style="width: 1%;">Registeringsafgift (ex or included)</th>
              <th style="width: 1%;">Tax(+moms or inkl)</th>
              <th style="width: 1%;">Stelnummer</th>
              <th style="width: 9%;">Price</th>

            </tr>
          </thead>

          <tbody class="table_filter">
            {% for car in page_obj %}
            <tr id="carid_{{ car.car_id }}" class="">
              <td class="text-nowrap">{{ car.date|date:"M d, Y" }}</td>
              <td class="text-nowrap">{{ car.registrering|date:"M d, Y" }}</td>
              <td>{{ car.brand }}</td>
              <td>{{ car.model }}</td>
              <td>{{ car.horsepower }}</td>
              <td>{{ car.fuel_type }}</td>
              <td>{{ car.transimision }}</td>
              <td>{{ car.kilometer }}</td>
              <td>{{ car.engine_size }}</td>
              <td>{{ car.number_of_doors }}</td>
              <td>{{ car.number_of_seats }}</td>
              <td>{{ car.karosseri }}</td>
              <td>{{ car.koretype }}</td>
              <td>{{ car.kosmetisk }}</td>
              <td>{{ car.mekanisk }}</td>
              <td class="truncate-text" onclick="showFullText(this)">{{ car.kommentar }} </td>
              <td>{{ car.registeringsafgift }}</td>
              <td>{{ car.tax_moms_or_inkl }}</td>
              <td>{{ car.stelnummer }}</td>
              <td class="text-nowrap">&#8364; {{ car.price }}</td>
              <td hidden><input type="text" hidden id="carimages_{{ car.car_id }}" value="{{ car.image_names }}"></td>

            </tr>

            {% endfor %}


          </tbody>

        </table>
      </div>



      <div class="card-body pb-0">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1&{{ get_params }}" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
                <span class="sr-only">First</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ get_params }}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
              <a class="page-link" href="?page={{ num }}&{{ get_params }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ get_params }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ get_params }}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>

      </div>



    </div>

  </div>

  <div class="col">
    <textarea id="carDataJson" style="display: none;">{{ car_data_json|safe }}</textarea>
    <div class="card">
      <div class="card-header bg-info">
        Car Images
      </div>
      <div class="card-body p-1 overflow-auto" style="max-height:calc(100vh - 224px)" id="selected_car_images">
        <h5 id="all_image_list_header" class="card-title">Click a car to view the Car Images</h5>
      </div>
    </div>

  </div>

</div>

{% endblock %}


{% block extra_js %}
<script>

  const carDataRaw = $('#carDataJson').val();
  const carData = JSON.parse(carDataRaw);

  $(document).ready(function () {

    // Fill brand dropdown
    const brands = [...new Set(carData.map(item => item.brand))];
    brands.forEach(b => $('#filterby_brand').append(`<option value="${b}">${b}</option>`));

    $('#filterby_brand').on('change', function () {
      const selectedBrands = $(this).val();
      const filteredModels = carData
        .filter(car => selectedBrands.includes(car.brand))
        .map(car => car.model);

      const uniqueModels = [...new Set(filteredModels)];
      $('#filterby_model').html('');

      uniqueModels.forEach(m => $('#filterby_model').append(`<option value="${m}">${m}</option>`));

      $('#filterby_model').trigger('change');

    });

    $('#filterby_model').on('change', function () {

      const selectedBrands = $('#filterby_brand').val();
      const selectedModels = $(this).val();
      const filteredFuelTypes = carData
        .filter(car => selectedBrands.includes(car.brand) && selectedModels.includes(car.model))
        .map(car => car.fuel_type);

      const uniqueFuels = [...new Set(filteredFuelTypes)];

      $('#filterby_fuel_type').html('');

      uniqueFuels.forEach(f => $('#filterby_fuel_type').append(`<option value="${f}">${f}</option>`));

    });

  });

</script>

{% endblock %}