{% extends 'car_app/base.html' %}
{% load custom_filters %}

{% block content %}

<div class="row align-items-start">

  <div class="col-9">

    <div class="card">

      <div class="card-header bg-info d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <a class="btn btn-primary me-2" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
            aria-controls="offcanvasExample">
            &#9776; <!-- Unicode for three horizontal lines --> Apply Filter
          </a>
          <a href="{% url 'car_list' %}" class="btn btn-warning me-2">Clear Filter</a>
        </div>
        <h5 class="p-0 m-0">All Car List</h5>
        <!-- <div class="d-flex align-items-center">
            <input id="searchbox" type="search" class="form-control form-control-sm" placeholder="Search..." aria-label="Search">
        </div> -->
      </div>


      <div class="card-body p-0"
        style="min-height:calc(100vh - 350px);max-height:calc(100vh - 350px);overflow-y: auto;">
        <table class="oc-table" style="min-height:200px">
          <thead style="position: sticky; top: 0; background-color: white; z-index: 1;">
            <tr>
              <th style="width: 20px;">Date</th>
              <th style="width: 1%;">Registrering</th>
              <th style="width: 1%;">Brand</th>
              <th style="width: 1%;">Model</th>
              <th style="width: 1%;">Horsepower</th>
              <th style="width: 1%;">Fuel Type</th>
              <th style="width: 1%;">Transimision</th>
              <th style="width: 1%;">Kilometer</th>
              <th style="width: 1%;">Engine size</th>
              <th style="width: 1%;">Number of doors</th>
              <th style="width: 0.5%;">Number of seats</th>
              <th style="width: 1%;">Karosseri</th>
              <th style="width: 1%;">Køretype</th>
              <th style="width: 1%;">Kosmetisk</th>
              <th style="width: 1%;">Mekanisk</th>
              <th style="width: 50%;">Kommentar</th>
              <th style="width: 1%;">Registeringsafgift (ex or included)</th>
              <th style="width: 1%;">Tax(+moms or inkl)</th>
              <th style="width: 1%;">Stelnummer</th>
              <th style="width: 9%;">Price</th>
            </tr>
          </thead>
          <tbody class="table_filter">
            {% if page_obj.object_list %}
            {% for car in page_obj %}
            <tr id="carid_{{ car.car_id }}" class="">
              <td class="text-nowrap">{{ car.date|date:"M d, Y" }}</td>
              <td class="text-nowrap">{{ car.registrering|date:"M d, Y" }}</td>
              <td>{{ car.brand }}</td>
              <td>{{ car.model }}</td>
              <td>{{ car.horsepower }}</td>
              <td>{{ car.fuel_type }}</td>
              <td>{{ car.transimision }}</td>
              <td>{{ car.kilometer }}</td>
              <td>{{ car.engine_size }}</td>
              <td>{{ car.number_of_doors }}</td>
              <td>{{ car.number_of_seats }}</td>
              <td>{{ car.karosseri }}</td>
              <td>{{ car.koretype }}</td>
              <td>{{ car.kosmetisk }}</td>
              <td>{{ car.mekanisk }}</td>
              <td class="truncate-text" onclick="showFullText(this)">{{ car.kommentar }} </td>
              <td>{{ car.registeringsafgift }}</td>
              <td>{{ car.tax_moms_or_inkl }}</td>
              <td>{{ car.stelnummer }}</td>
              <td class="text-nowrap">&#8364; {{ car.price }}</td>
              <td hidden><input type="text" hidden id="carimages_{{ car.car_id }}" value="{{ car.image_names }}"></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
              <td colspan="20" style="font-size: 20px;">No cars found.</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>




      <div class="card-body pb-0">
        {% if page_obj.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page=1&{{ get_params }}" aria-label="First">
                <span aria-hidden="true">&laquo;&laquo;</span>
                <span class="sr-only">First</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}&{{ get_params }}"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
              <a class="page-link" href="?page={{ num }}&{{ get_params }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}&{{ get_params }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&{{ get_params }}" aria-label="Last">
                <span aria-hidden="true">&raquo;&raquo;</span>
                <span class="sr-only">Last</span>
              </a>
            </li>
            {% endif %}
          </ul>
        </nav>
        {% endif %}
      </div>




    </div>

  </div>

  <div class="col">
    <div class="card">
      <div class="card-header bg-info">
        Car Images
      </div>
      <div class="card-body p-1 overflow-auto" style="max-height:calc(100vh - 180px)" id="selected_car_images">
        <h5 id="all_image_list_header" class="card-title">Click a car to view the Car Images</h5>
      </div>
    </div>

  </div>

</div>


<div class="offcanvas offcanvas-start custom-offcanvas-width" tabindex="-1" id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header bg-primary text-white">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter Options</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="padding-right: 0px !important;">
    <form id="filter-form" method="get">
      
      <div class="mb-3">
        <label for="filterby_datefrom" class="form-label">Registrering From:</label>
        <input type="text" 
               id="filterby_datefrom" 
               name="filterby_datefrom" 
               class="form-control form-control-sm setmaxw" 
               maxlength="4" 
               value="{{ selected_date_from }}"
               oninput="this.value = this.value.replace(/\D/g, ''); if (this.value === '0') this.value = '';">
              </div>
    
    <div class="mb-3">
        <label for="filterby_dateto" class="form-label">Registrering To:</label>
        <input type="text" 
               id="filterby_dateto" 
               name="filterby_dateto" 
               class="form-control form-control-sm setmaxw" 
               maxlength="4" 
               value="{{ selected_date_to }}"
               oninput="this.value = this.value.replace(/\D/g, ''); if (this.value === '0') this.value = '';">
              </div>

      <div class="">
        <label for="filterby_brand" class="form-label">Select Brands:</label>
      </div>
      <div class="mb-3">
        <select class="form-select filter_cars setmaxw" name="carbrands" multiple="multiple" id="filterby_brand">
          <!-- {% for brand in brand_column %}
          <option value="{{brand}}" {% if brand in selected_brands %} selected {% endif %}>{{brand}}</option>
          {% endfor %} -->
        </select>
      </div>

      <div class="">
        <label for="filterby_model" class="form-label">Select Model:</label>
      </div>
      <div class="mb-3">
        <select class="form-select filter_cars" name="carmodels" multiple="multiple" id="filterby_model">

        </select>
      </div>

      <div class="">
        <label for="filterby_fuel_type" class="form-label">Select Fuel Type:</label>
      </div>
      <div class="mb-3">
        <select class="form-select filter_cars" name="carfueltypes" multiple="multiple" id="filterby_fuel_type">
        </select>
      </div>

      <div class="">
        <label for="filterby_transimision" class="form-label">Select Transimision:</label>
      </div>
      <div class="mb-3">
        <select class="form-select filter_cars" name="cartransimisions" multiple="multiple" id="filterby_transimision">

        </select>
      </div>

      <div class="mb-3">
        <label for="filterby_kmfrom" class="form-label">KM From:</label>
        <input type="text" 
               class="form-control form-control-sm setmaxw" 
               id="filterby_kmfrom" 
               name="filterby_kmfrom"
               value="{{ selected_km_from }}"
               oninput="this.value = this.value.replace(/\D/g, ''); if (this.value === '0') this.value = '';">
              </div>
    
    <div class="mb-3">
        <label for="filterby_kmto" class="form-label">KM To:</label>
        <input type="text" 
               class="form-control form-control-sm setmaxw"  
               id="filterby_kmto" 
               name="filterby_kmto"
               value="{{ selected_km_to }}"
               oninput="this.value = this.value.replace(/\D/g, ''); if (this.value === '0') this.value = '';">
              </div>
    


      <div class="">
        <label for="filterby_registeringsafgift" class="form-label">Select Registeringsafgift:</label>
      </div>
      <div class="mb-3">
        <select class="form-select filter_cars" name="registeringsafgift" multiple="multiple"
          id="filterby_registeringsafgift">
          {% for registeringsafgift in registeringsafgift_column %}
          <option value="{{registeringsafgift}}" {% if registeringsafgift in selected_registeringsafgift %} selected {% endif %}>
            {{registeringsafgift}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="">
        <label for="filterby_tax" class="form-label">Select Tax(+moms or inkl):</label>
      </div>
      <div class="mb-3">
        <select class="form-select filter_cars" name="filter_tax" multiple="multiple" id="filterby_tax">
          {% for filter_tax in filter_tax_column %}
          <option value="{{filter_tax}}" {% if filter_tax in selected_filter_tax %} selected {% endif %}>
            {{filter_tax}}</option>
          {% endfor %}
        </select>
      </div>


      <div class="d-flex justify-content-between">
        <!-- <a href="{% url 'car_list' %}" class="btn btn-warning btn-sm">Clear Filter</a> -->

        <button type="submit" class="btn btn-primary btn-sm" id="applyFilterBtn">Apply Filter</button>

      </div>
    </form>
  </div>
</div>

<div hidden>
  <textarea id="carDataJson" style="display: none;">{{ car_data_json|safe }}</textarea>
  <textarea id="selectedBrandsJson" style="display: none;">{{ selected_brands|safe }}</textarea>
  <textarea id="selectedModelsJson" style="display: none;">{{ selected_models|safe }}</textarea>
  <textarea id="selectedFuelsJson" style="display: none;">{{ selected_fuel_types|safe }}</textarea>
  <textarea id="selectedTransJson" style="display: none;">{{ selected_transimisions|safe }}</textarea>
</div>

{% endblock %}


{% block extra_js %}

<script>





  $(document).ready(function () {

    //Multiselect for two diff new filter.
    $('#filterby_registeringsafgift').multiSelect();
    $('#filterby_tax').multiSelect();
    
    $('#applyFilterBtn').on('click', function(event){
            var fromValue = $('#filterby_datefrom').val();
            var toValue = $('#filterby_dateto').val();

            // Check if 'from' field is invalid (not a valid 4-digit number or less than 1000)
            if (fromValue && (fromValue.length !== 4 || !/^\d{4}$/.test(fromValue) )) {
                alert("Please enter a valid 4-digit year.");
                event.preventDefault();
                return; // Stop further checks
            }

            // Check if 'to' field is invalid (not a valid 4-digit number or less than 1000)
            if (toValue && (toValue.length !== 4 || !/^\d{4}$/.test(toValue))) {
                alert("Please enter a valid 4-digit year.");
                event.preventDefault();
            }
        });

    const carData = JSON.parse($('#carDataJson').val());
    const allBrands = [...new Set(carData.map(c => c.brand))];
    const selectedBrands = JSON.parse($('#selectedBrandsJson').val());

    function initFilterByBrand() {
      const filterSelect = $('#filterby_brand');
      filterSelect.html('');

      allBrands.forEach(brand => {
        const isSelected = selectedBrands.includes(brand) ? 'selected' : '';
        filterSelect.append(`<option value="${brand}" ${isSelected}>${brand}</option>`);
      });

      $('#filterby_brand').multiSelect('unload');
      $('#filterby_brand').multiSelect();
    }
    initFilterByBrand();
    //------------------------------------------------------------------------------------

    const selectedModels = JSON.parse($('#selectedModelsJson').val());

    function initFilterbyModel() {
      const relatedModels = carData
        .filter(car => selectedBrands.includes(car.brand))
        .map(car => car.model);

      const uniqueModels = [...new Set(relatedModels)];
      const $modelSelect = $('#filterby_model');

      $('#filterby_fuel_type').html('');
      $modelSelect.html(''); // Clear previous options

      uniqueModels.forEach(model => {
        const isSelected = selectedModels.includes(model) ? 'selected' : '';
        $modelSelect.append(`<option value="${model}" ${isSelected}>${model}</option>`);
      });

      $('#filterby_model').multiSelect('unload');
      $('#filterby_model').multiSelect();
    }
    initFilterbyModel();
    //------------------------------------------------------------------------------------


    const selectedFuels = JSON.parse($('#selectedFuelsJson').val());
    function updateFuelTypes() {

      // Filter car data based on selected brands and models
      const relatedFuels = carData
        .filter(car =>
          selectedBrands.includes(car.brand) &&
          selectedModels.includes(car.model)
        )
        .map(car => car.fuel_type);

      const uniqueFuels = [...new Set(relatedFuels)];

      const $fuelSelect = $('#filterby_fuel_type');
      $fuelSelect.html(''); // Clear previous options

      // Append new options
      uniqueFuels.forEach(fuel => {
        const isSelected = selectedFuels.includes(fuel) ? 'selected' : '';
        $fuelSelect.append(`<option value="${fuel}" ${isSelected}>${fuel}</option>`);
      });

      // Rebuild or reinit multiselect
      $('#filterby_fuel_type').multiSelect('unload');
      $('#filterby_fuel_type').multiSelect();
    }
    updateFuelTypes();
    //------------------------------------------------------------------------------------

    const selectedTrans = JSON.parse($('#selectedTransJson').val());
    function updateTransmision() {

      // Filter car data based on selected brands and models
      const relatedTrans = carData
        .filter(car =>
          selectedBrands.includes(car.brand) &&
          selectedModels.includes(car.model) &&
          selectedFuels.includes(car.fuel_type)
        )
        .map(car => car.transimision);

      const uniqueTrans = [...new Set(relatedTrans)];

      const $transSelect = $('#filterby_transimision');
      $transSelect.html(''); // Clear previous options

      // Append new options
      uniqueTrans.forEach(trans => {
        const isSelected = selectedTrans.includes(trans) ? 'selected' : '';
        $transSelect.append(`<option value="${trans}" ${isSelected}>${trans}</option>`);
      });

      // Rebuild or reinit multiselect
      $('#filterby_transimision').multiSelect('unload');
      $('#filterby_transimision').multiSelect();
    }
    updateTransmision();
    //------------------------------------------------------------------------------------

    $('#filterby_brand').on('change', function () {
      const NewselectedBrands = $(this).val();
      const filteredModels = carData
        .filter(car => NewselectedBrands.includes(car.brand))
        .map(car => car.model);

      const uniqueModels = [...new Set(filteredModels)];
      $('#filterby_model').html('');
      $('#filterby_fuel_type').html('');
      $('#filterby_transimision').html('');

      uniqueModels.forEach(m => $('#filterby_model').append(`<option value="${m}">${m}</option>`));

      $('#filterby_fuel_type').multiSelect('unload');
      $('#filterby_fuel_type').multiSelect();
      $('#filterby_transimision').multiSelect('unload');
      $('#filterby_transimision').multiSelect();

      $('#filterby_model').trigger('change');
      $('#filterby_fuel_type').trigger('change');
      $('#filterby_transimision').trigger('change');

    });

    //------------------------------------------------------------------------------------

    $('#filterby_model').on('change', function () {
      const NewselectedBrands = $('#filterby_brand').val();
      const Newselectedmodels = $(this).val();

      const filteredFueltypes = carData
        .filter(car => Newselectedmodels.includes(car.model) && NewselectedBrands.includes(car.brand))
        .map(car => car.fuel_type);

      const uniqueFueltypes = [...new Set(filteredFueltypes)];
      $('#filterby_fuel_type').html('');

      uniqueFueltypes.forEach(m => $('#filterby_fuel_type').append(`<option value="${m}">${m}</option>`));

      $('#filterby_fuel_type').multiSelect('unload');
      $('#filterby_fuel_type').multiSelect();


      $('#filterby_fuel_type').trigger('change');

    });

    //------------------------------------------------------------------------------------

    $('#filterby_fuel_type').on('change', function () {
      const NewselectedBrands = $('#filterby_brand').val();
      const Newselectedmodels = $('#filterby_model').val();
      const Newselectedfueltypes = $(this).val();

      const filteredtrans = carData
        .filter(car => Newselectedmodels.includes(car.model) && NewselectedBrands.includes(car.brand) && Newselectedfueltypes.includes(car.fuel_type))
        .map(car => car.transimision);

      const uniqueTrans = [...new Set(filteredtrans)];
      $('#filterby_transimision').html('');

      uniqueTrans.forEach(m => $('#filterby_transimision').append(`<option value="${m}">${m}</option>`));

      $('#filterby_transimision').multiSelect('unload');
      $('#filterby_transimision').multiSelect();
      $('#filterby_transimision').trigger('change');
    });

  });

</script>

{% endblock %}